*{
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

#background-head{
    background-color: #24292e;
    width: 100%;
    height: 150px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#box1{
    background-color: #37393e;
    width: 350px;
    height: 120px;
    margin-left: 20px;
    border-radius: 5px;
}

#hello{
    margin-left: 10px;
    word-wrap: normal;
    margin-top: 15px;

}

#ag-conta{
    font-size: 20px;
    margin-left: 10px;
}

#box2{
    background-color: #37393e;
    width: 350px;
    height: 120px;
    border-radius: 5px;
    margin-right: 20px;
}

#saldo{
    display: flex;
    align-items: center;
    
}
#legenda-saldo{
    font-size: 17px;
    text-align: center;
}

#RS{
    font-size: 25px;
    margin-left: 10px;
    margin-top: 10px;
}

#money{
    font-size: 45px;
    margin-left: 40px;
    color: #09b93a;

}